{
  "extends": ["plugin:prettier/recommended", "prettier/flowtype", "prettier/react", "prettier/standard"],
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "bracketSpacing": true,
  "arrowParens": "always"
}
